#kadrKolAmar
{
    position: relative;
    float: right;
    width: 100%;
}

#kadrFilterAMR
{
    float: right;
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin: 10px 0;
    background-color: hsl(0, 0%, 97%);
    border: solid hsl(0, 0%, 85%);
    border-width: 1px 0;
}

.filterSRT
{
    float: right;
}

.titrFSRT
{
    float: right;
    margin-left: 5px;
    padding: 5px 0 4px;
    color: hsl(0, 0%, 20%);
}

#tarikhFSRT
{
    float: right;
}

a#btnFSRT, a#btnFSRT:link, a#btnFSRT:visited
{
    float: right;
    padding: 4px 15px;
    margin: 1px 10px 1px 20px;
    border-radius: 8px;
    background-color: hsl(148, 64%, 85%);
    color: hsl(148, 64%, 30%);
    transition: background-color 0.1s;
}

a#btnFSRT:hover
{
    background-color: hsl(148, 64%, 75%);
    color: hsl(148, 64%, 25%);
}

a#btnFSRT:active
{
    transition: none;
    background-color: hsl(148, 64%, 65%);
    color: hsl(148, 64%, 25%);
}

a.btnTarikhAMR, a.btnTarikhAMR:link, a.btnTarikhAMR:visited
{
    float: right;
    padding: 4px 10px;
    margin: 2px 5px 3px;
    border-radius: 8px;
    background-color: hsl(204, 100%, 90%);
    color: hsl(204, 100%, 30%);
    font-size: 0.875rem;
    transition: background-color 0.1s;
}

a.btnTarikhAMR:hover
{
    background-color: hsl(204, 100%, 83%);
}

a.btnTarikhAMR:active
{
    transition: none;
    background-color: hsl(204, 100%, 86%);
}

#kadrAmar
{
    position: relative;
    float: right;
    width: 100%;
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
}

#sotoonRast
{
    float: right;
    width: 320px;
    margin-left: 20px;
}

#kadrAmarMablagh
{
    float: right;
    width: calc(100% - 40px);
    padding: 10px 20px;
    border-radius: 8px;
    background-color: hsl(39, 100%, 87%);
}

.amarMablagh
{
    float: right;
    width: 100%;
    padding: 5px 0;
}

#mandeh
{
    font-size: 1.25rem;
    border-bottom: 1px solid hsl(39, 100%, 70%);
    margin-bottom: 5px;
}

.titrAMR
{
    float: right;
}

.meghdarAMR
{
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#kadrAmarTedad
{
    float: right;
    width: 100%;
    margin-top: 10px;
}

.amarTedad
{
    float: right;
    width: calc(33.333% - 27px);
    height: 24px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: context-menu;
}

.amarTedad:nth-child(1)
{
    background-color: hsl(204, 100%, 90%);
}

.amarTedad:nth-child(2)
{
    margin: 0 10px;
    background-color: hsl(352, 100%, 95%);
}

.amarTedad:nth-child(3)
{
    background-color: hsl(148, 64%, 86%);
}

a#btnSoorathesabAMR, a#btnSoorathesabAMR:link, a#btnSoorathesabAMR:visited
{
    float: right;
    width: calc(100% - 22px);
    margin: 20px 0 0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 97%);
    transition: background-color 0.1s;
}

a#btnSoorathesabAMR:hover
{
    background-color: hsl(0, 0%, 92%);
}

a#btnSoorathesabAMR:active
{
    transition: none;
    background-color: hsl(0, 0%, 95%);
}

.amarTedad>.titrAMR, .amarTedad>.meghdarAMR
{
    vertical-align: middle;
    float: none;
    display: inline-block;
}

#kadrListAMR
{
    float: right;
    width: calc(100% - 32px);
    margin: 20px 0 0;
    padding: 12px 15px 10px;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 80%);
}

#headerLAMR
{
    float: right;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    margin-bottom: 7px;
}

a.btnLAMR, a.btnLAMR:link, a.btnLAMR:visited
{
    float: right;
    width: 50%;
    text-align: center;
    color: hsl(0, 0%, 20%);
}

a.btnLAMR:hover
{
    color: hsl(0, 0%, 0%);
}

a.btnLAMR:active
{
    color: hsl(0, 0%, 10%);
}

a.btnLAMR:first-child
{
    width: calc(50% - 1px);
    border-left: 1px solid hsl(0, 0%, 80%);
}

a.btnLAMR[data-enekhabi="1"]>span.matnTitr
{
    color: hsl(0, 0%, 0%);
    font-weight: bold;
}

a.btnLAMR>span.icon, a.btnLAMR>span.matnTitr
{
    float: none;
    display: inline-block;
    font-weight: unset;
}

.listAMR
{
    float: right;
    width: 100%;
    overflow: auto;
}

.itemListAMR
{
    position: relative;
    float: right;
    width: 100%;
    padding: 5px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 75%) 77%, hsl(0, 0%, 100%) 100%) 1 round;
    animation: aniAzRast 0.3s;
    animation-fill-mode: both;
}

.itemListAMR:last-child
{
    border-bottom: 0;
}

.tedadEstefadehListAMR
{
    float: right;
    width: 50px;
    margin-left: 20px;
    text-align: left;
}

.onvanListAMR
{
    float: right;
    width: calc(100% - 70px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.onvanListAMR[data-noe="1"]
{
    color: hsl(39, 100%, 40%);
}

.onvanListAMR[data-noe="2"]
{
    color: hsl(352, 100%, 40%);
}

.onvanListAMR[data-noe="3"]
{
    color: hsl(148, 64%, 40%);
}

#stoonVasat
{
    float: left;
    width: calc(100% - 340px);
}

.kadrNemoodar
{
    float: right;
    width: 100%;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px)
{
    #kadrFilterAMR
    {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 0;
    }

    .filterSRT
    {
        margin-left: 10px;
    }

    .filterSRT span.matnTitr
    {
        display: none;
    }

    input.txtTarikh
    {
        width: 20px !important;
    }

    input.txtTarikh:last-child
    {
        width: 40px !important;
    }

    a.btnTarikhAMR, a.btnTarikhAMR:link, a.btnTarikhAMR:visited
    {
        width: calc(50% - 30px);
        margin-top: 10px;
        text-align: center;
    }

    #kadrAmar
    {
        margin-top: 20px;
    }

    #sotoonRast
    {
        width: 100%;
        margin-bottom: 20px;
    }

    #stoonVasat
    {
        width: 100%;
    }
}