#kadrTitrAnavin
{
    position: relative;
    float: right;
    width: 100%;
}

#kadrAfzoodanDasteh
{
    float: right;
    width: 100%;
    margin: 20px 0 10px;
    padding-top: 30px;
    border-top: 1px solid hsl(0, 0%, 80%);
}

.kadrAfzoodanDST
{
    float: right;
    margin-left: 30px;
}

.afzoodanDST
{
    float: right;
    margin-left: 5px;
    padding: 7px 0;
    color: hsla(0, 0%, 0%, 0.7);
}

input.txtDasteh
{
    float: right;
    width: 200px;
    margin: 1px 0;
    direction: rtl;
}

a#btnAfzoodanDST, a#btnAfzoodanDST:link, a#btnAfzoodanDST:visited
{
    float: right;
    padding: 4px 15px;
    margin: 3px 0;
    border-radius: 8px;
    background-color: hsl(148, 64%, 85%);
    color: hsl(148, 64%, 30%);
    transition: background-color 0.1s;
}

a#btnAfzoodanDST:hover
{
    background-color: hsl(148, 64%, 75%);
    color: hsl(148, 64%, 25%);
}

a#btnAfzoodanDST:active
{
    transition: none;
    background-color: hsl(148, 64%, 65%);
    color: hsl(148, 64%, 25%);
}



/*  راهنما  */

#kadrRahnama
{
    float: right;
    width: 100%;
}

#kadrVasetRahnama
{
    float: right;
    /*width: 400px;*/
    margin: 0 auto 20px;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 85%);
    overflow: auto;
}

a.rahnama, a.rahnama:link, a.rahnama:visited
{
    float: right;
    margin: 0 10px;
    opacity: 0.6;
    transition: opacity 0.1s;
}

a.rahnama:hover
{
    opacity: 1;
}

a.rahnama:active
{
    transition: none;
    opacity: 0.8;
}

a.rahnama:nth-child(1)>span.icon
{
    color: hsl(39, 100%, 40%);
}

a.rahnama:nth-child(2)>span.icon
{
    color: hsl(352, 100%, 40%);
}

a.rahnama:nth-child(3)>span.icon
{
    color: hsl(148, 64%, 40%);
}

a.rahnama:nth-child(4)>span.icon
{
    color: hsl(204, 100%, 40%);
}



/*  جدول  */

#kadrJadvalDST
{
    position: relative;
    float: right;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

#kadrHeaderJDST
{
    float: right;
    width: 100%;
    color: hsl(0, 0%, 50%);
    font-size: 0.875rem;
}

#kadrHeaderJDST .etelaatJDST
{
    padding: 0 8px;
    background-color: hsl(0, 0%, 100%);
}

#kadrHeaderJDST .shomJDST
{
    padding: 0 0 0 10px;
}

#jadvalDST
{
    float: right;
    width: 100%;
}

.itemJDST
{
    float: right;
    width: 100%;
    margin-bottom: 3px;
}

.shomJDST
{
    float: right;
    width: 27px;
    padding: 6px 0 5px 10px;
    text-align: center;
    color: hsl(0, 0%, 50%);
}

.etelaatJDST
{
    float: right;
    width: calc(100% - 55px);
    padding: 5px 8px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 90%);
}

.etelaatJDST[data-noe="1"]
{
    background-color: hsl(39, 100%, 90%);
    color: hsl(39, 100%, 35%);
}

.etelaatJDST[data-noe="2"]
{
    background-color: hsl(352, 100%, 95%);;
    color: hsl(352, 100%, 40%);
}

.etelaatJDST[data-noe="3"]
{
    background-color: hsl(148, 64%, 87%);;
    color: hsl(148, 100%, 30%);
}

.etelaatJDST[data-noe="4"]
{
    background-color: hsl(204, 100%, 90%);;
    color: hsl(204, 100%, 30%);
}

.etelaatJDST>div
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconJDST
{
    float: right;
    width: 16px;
    margin: 0 5px 0 15px;
    padding: 5px 0;
    font-family: myIcon;
}

.onvanJDST
{
    float: right;
    width: calc(46% - 180px);
    margin-left: 10px;
}

.tedadMahJDST
{
    float: right;
    width: calc(18% - 10px);
    margin-left: 10px;
    text-align: center;
}

.tedadSalJDST
{
    float: right;
    width: calc(18% - 10px);
    margin-left: 10px;
    text-align: center;
}

.tedadKolJDST
{
    float: right;
    width: calc(18% - 10px);
    margin-left: 10px;
    text-align: center;
}

.emkanatJDST
{
    float: right;
    width: 134px;
    text-align: center;
}

a.btnJDST, a.btnJDST:link, a.btnJDST:visited
{
    float: left;
    padding: 5px 5px 4px 5px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.1);
    margin-right: 10px;
    font-family: myIcon;
    transition: background-color 0.1s;
}

a.btnJDST:hover
{
    background-color: hsla(0, 0%, 0%, 0.18);
}

a.btnJDST:active
{
    transition: none;
    background-color: hsla(0, 0%, 0%, 0.13);
}

a.btnJDST:last-child
{
    margin-right: 0;
}



/*  کادر تایید جا به جایی ها  */

#kadrTaeedJabejaei
{
    position: fixed;
    bottom: -81px;
    left: 20px;
    z-index: 900;
    width: 370px;
    padding: 15px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 0 5px hsl(0, 0%, 60%);
    border-radius: 8px;
    transition: bottom 0.2s;
}

#kadrTaeedJabejaei>a
{
    margin-top: 0;
    cursor: pointer;
}



/*    کادر ویرایش   */

#CountainerKadrViraieshDST
{
    display: table;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: hsla(0, 0%, 13%, 0.5);
    animation: aniFade 0.1s;
    animation-fill-mode: both;
}

#kadrNamayeshVDST
{
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#kadrPoshtVDST
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    cursor: context-menu;
}

#kadrVDST
{
    position: relative;
    display: block;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    animation: aniFade 0.2s;
    animation-fill-mode: forwards;
    background-color: white;
    border-radius: 10px;
}

#kadrVDST>div:first-child
{
    position: relative;
    width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    overflow: auto;
    padding: 15px;
}

#titrVDST
{
    float: right;
    padding: 0 10px 0 0;
    font-size: 1.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.etelaatVDST
{
    float: right;
    width: 100%;
    margin: 10px 0;
    padding-top: 10px;
    color: hsl(0, 0%, 40%);
    border-top: 1px solid hsl(0, 0%, 80%);
}

.etelaatSBT
{
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
}

input#dastehVDST
{
    width: 258px;
}

#kadrDokmehVDST
{
    float: right;
    width: 100%;
}

#kadrDokmehVDST span.icon
{
    font-size: 1.5rem;
}

#kadrVDST a.dokmehTaeed
{
    margin: 0 0 0 5px;
}

#kadrVDST a.dokmehLaghv
{
    margin: 0 5px 0 0;
}