#sotoonChap
{
    margin-bottom: 20px;
}

#kadrTitrAnavin
{
    position: relative;
    float: right;
    width: 100%;
}

#kadrFilterSoorathesab
{
    position: relative;
    float: right;
    width: 100%;
}

#kadrFilterBRN
{
    float: right;
    width: 100%;
    margin-top: 10px;
}

.etelaatSBT
{
    width: 33.333%;
    margin: 0 0 15px 0;
}

.etelaatSBT.tamamSafheh
{
    width: 100%;
}

.iconEtelaatSBT
{
    width: 65px;
    text-align: left;
}

.kadrVasetSBT, .kadrTarikhSBT
{
    width: calc(100% - 70px);
    margin: 0 !important;
}

.etelaatSBT input
{
    width: calc(100% - 22px);
}

.etelaatSBT select
{
    width: 100%;
}

input.txtTarikh
{
    width: calc(33.333% - 24px) !important;
}

a#emalFilter, a#emalFilter:link, a#emalFilter:visited
{
    float: right;
    width: calc(100% - 49px);
    padding: 8px 0;
    margin-left: 5px;
    border-radius: 8px;
    text-align: center;
    color: hsl(39, 100%, 20%);
    background-color: hsl(39, 100%, 87%);
    transition: background-color 0.1s;
}

a#emalFilter:hover
{
    background-color: hsl(39, 100%, 80%);
}

a#emalFilter:active
{
    transition: none;
    background-color: hsl(39, 100%, 83%);
}

a#btnAfzoodanBRN, a#btnAfzoodanBRN:link, a#btnAfzoodanBRN:visited
{
    float: left;
    width: 26px;
    height: 26px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    background-color: hsl(204, 100%, 90%);
    color: hsl(204, 100%, 30%);
    font-family: myIcon;
    font-size: 1.5rem;
    transition: background-color 0.1s;
}

a#btnAfzoodanBRN:hover
{
    background-color: hsl(204, 100%, 83%);
}

a#btnAfzoodanBRN:active
{
    transition: none;
    background-color: hsl(204, 100%, 86%);
}

#kadrAmarBarnameh
{
    position: relative;
    float: right;
    width: 100%;
    margin: 30px 0 20px;
}

.amarBRN
{
    float: right;
    margin-left: 30px;
    height: 25px;
}

.titrAmarBRN
{
    float: right;
    color: hsl(0, 0%, 40%);
    margin-left: 3pt;
    font-size: 0.875rem;
}

.meghdarAmarBRN
{
    float: right;
    direction: ltr;
}

#kadrBarnameh
{
    position: relative;
    float: right;
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
    overflow: hidden;
}

.kadrSatrTarikh
{
    position: relative;
    float: right;
    width: 100%;
    height: 0;
    margin: 20px 0;
    overflow: visible;
    border-top: 1px solid hsl(0, 0%, 80%);
    animation: aniFade 0.3s;
    animation-fill-mode: both;
}

span.satrTarikh
{
    display: inline-block;
    position: absolute;
    top: -11px;
    right: 0;
    left: 0;
    width: 60px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 0.875rem;
    color: hsl(0, 0%, 50%);
    background-color: white;
}

.kadrBRN
{
    position: relative;
    float: right;
    width: calc(33.333% - 10px);
    margin: 5px;
    padding: 15px 0;
    border-radius: 8px;
    overflow: hidden;
    animation: aniAzPaeen 0.3s;
    animation-fill-mode: both;
}

.kadrBRN[data-khorooji-ast="0"]
{
    background-color: hsl(148, 64%, 90%);
}

.kadrBRN[data-khorooji-ast="1"]
{
    background-color: hsl(352, 100%, 95%);
}

.kadrBRN[data-vaziat="2"]::after /*  vaziat 2 : موعد پرداخت  */
{
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-family: myIcon;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(204, 100%, 50%);
}

.kadrVasetBRN
{
    float: right;
    width: calc(100% - 30px);
    margin: 0 15px 5px;
}

.kadrBRN[data-khorooji-ast="0"]>.kadrVasetBRN
{
    border-bottom: 1px solid hsl(148, 64%, 60%);
}

.kadrBRN[data-khorooji-ast="1"]>.kadrVasetBRN
{
    border-bottom: 1px solid hsl(352, 100%, 85%);
}

.kadrEtelaatBRN
{
    float: right;
    width: 50%;
    padding: 5px 0;
    text-align: center;
}

.kadrOnvan
{
    float: right;
    padding: 0 3px 10px 0;
    width: calc(100% - 68px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kadrOnvan>span.icon, .kadrOnvan>span.titr
{
    float: right;
}

.kadrEmkanat
{
    float: left;
    width: 65px;
}

a.emkanatBRN, a.emkanatBRN:link, a.emkanatBRN:visited
{
    float: right;
    font-family: myIcon;
    padding: 3px;
    margin-right: 5px;
    font-size: 1.325rem;
    color: hsl(0, 0%, 30%);
}

a.emkanatBRN:hover
{
    color: hsl(0, 0%, 0%);
}

a.emkanatBRN:active
{
    color: hsl(0, 0%, 10%);
}

.kadrTarikh
{
    color: hsl(39, 100%, 35%);
}

.kadrTedadMandeh
{
    color: hsl(204, 100%, 35%);
}

.kadrBRN[data-khorooji-ast="0"] .kadrMablaghGhest
{
    color: hsl(148, 64%, 40%);
}

.kadrBRN[data-khorooji-ast="1"] .kadrMablaghGhest
{
    color: hsl(352, 100%, 40%);
}

.kadrEtelaatBRN>span.icon
{
    margin-left: 5px;
    padding: 9px 0 8px;
    font-size: 0.75rem;
    color: hsla(0, 0%, 0%, 0.7);
}

.kadrEtelaatBRN>span.matnTitr
{
    margin-left: 5px;
    padding: 4px 0 3px;
    font-size: 0.75rem;
    vertical-align: middle;
    color: hsla(0, 0%, 0%, 0.7);
}

.kadrBtnBRN
{
    float: right;
    width: calc(100% - 20px);
    margin: 10px 10px 0;
}

a.btnBRN, a.btnBRN:link, a.btnBRN:visited
{
    float: right;
    width: calc(33.333% - 10px);
    margin: 0 5px;
    padding: 8px 0;
    text-align: center;
    border-radius: 8px;
    background-color: hsla(0, 0%, 0%, 0.1);
    transition: background-color 0.1s;
}

a.btnBRN:hover
{
    background-color: hsla(0, 0%, 0%, 0.15);
}

a.btnBRN:active
{
    transition: none;
    background-color: hsla(0, 0%, 0%, 0.12);
}

.kadrBRN[data-vaziat="3"] a.btnBRN   /*  vaziat 3 : تسویه شده  */
{
    width: calc(100% - 10px);
}



/*    کادر ویرایش و افزودن   */

#CountainerKadrViraieshBRN
{
    display: table;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: hsla(0, 0%, 13%, 0.5);
    animation: aniFade 0.1s;
    animation-fill-mode: both;
}

#kadrNamayeshVBRN
{
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#kadrPoshtVBRN
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    cursor: context-menu;
}

#kadrVBRN
{
    position: relative;
    display: block;
    width: 60%;
    margin: 0 auto;
    animation: aniFade 0.2s;
    animation-fill-mode: forwards;
    background-color: white;
    border-radius: 10px;
}

#kadrVBRN>div:first-child
{
    position: relative;
    width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    overflow: auto;
    padding: 15px;
}

#titrVBRN
{
    float: right;
    width: calc(100% - 10px);
    padding: 0 10px 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    font-size: 1.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.etelaatVBRN
{
    float: right;
    width: calc(100% - 30px);
    margin: 0 5px 5px;
    padding: 10px 10px 0;
    overflow: auto;
    max-height: 300px;
    color: hsl(0, 0%, 40%);
}

#kadrInput50>.etelaatSBT
{
    float: right;
    width: 50%;
    margin: 0 0 10px;
    color: hsl(0, 0%, 40%);
}

#kadrInput50 .iconEtelaatSBT
{
    width: 67px;
    text-align: left;
}

#kadrInput50>.etelaatSBT>select:nth-child(2):not(.kadrENT)
{
    width: calc(100% - 72px);
}

#kadrInput50>.etelaatSBT>input:nth-child(2):not(.kadrENT)
{
    width: calc(100% - 94px);
}

#kadrInput50>.etelaatSBT .kadrTarikhSBT, #kadrInput50>.etelaatSBT>select:nth-child(2):not(.kadrENT)
{
    width: calc(100% - 72px);
}

#kadrInput50>.etelaatSBT input.txtTarikh
{
    width: calc(33.333% - 24px) !important;
}

#KhvENTVBRN, #noeENTVBRN
{
    float: right;
    width: calc(100% - 72px);
}

input.txtOnvan
{
    direction: rtl;
}

/* width */
.etelaatVBRN::-webkit-scrollbar
{
    width: 4px;
    height: 100%;
}

/* Track */
.etelaatVBRN::-webkit-scrollbar-track
{
    background: hsl(0, 0%, 85%);
    border-radius: 5px;
}

/* Handle */
.etelaatVBRN::-webkit-scrollbar-thumb
{
    background: hsl(0, 0%, 60%);
    border-radius: 5px;
}

/* Handle on hover */
.etelaatVBRN::-webkit-scrollbar-thumb:hover
{
    background: hsl(0, 0%, 40%);
}

/* Handle on hover */
.etelaatVBRN::-webkit-scrollbar-thumb:active
{
    background: hsl(0, 0%, 50%);
}

#kadrDokmehVBRN
{
    float: right;
    width: 100%;
}

#kadrDokmehVBRN span.icon
{
    font-size: 1.5rem;
}

.dokmehHazfPardakht span.icon
{
    font-size: 1rem !important;
}

#kadrVBRN a.dokmehTaeed
{
    margin: 0 0 0 5px;
}

#kadrVBRN a.dokmehLaghv
{
    margin: 0 5px 0 0;
}



/*  کادر اطلاعات برنامه  */

.etelaatBRN .etelaatSBT
{
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.etelaatBRN .etelaatSBT.tamamSafheh
{
    width: 100%;
}

.etelaatSBT>span.icon
{
    margin-left: 5px;
    padding: 9px 0 8px;
    font-size: 0.75rem;
    color: hsla(0, 0%, 0%, 0.7);
}

.etelaatSBT>span.matnTitr
{
    padding: 4px 0 3px;
    font-size: 0.75rem;
    vertical-align: middle;
    color: hsla(0, 0%, 0%, 0.7);
}

.etelaatSBT>span.meghdarBRN
{
    color: hsl(0, 0%, 0%);
    /*background-color: hsl(0, 0%, 92%);*/
    /*border-radius: 5px;*/
    /*padding: 0 10px;*/
}

.kadrRizTatikh
{
    float: right;
    width: 100%;
    padding: 15px 0 5px;
    border-top: 1px solid hsl(0, 0%, 80%);
}

.rizTarikh
{
    float: left;
    margin: 0 15px 5px 0;
}

.rizTarikh.pardakhti
{
    color: hsl(204, 100%, 50%);
}

a.dokmehHazfPardakht, a.dokmehHazfPardakht:link, a.dokmehHazfPardakht:visited
{
    margin: 0 5px 0 0;
    font-size: 1rem !important;
    color: hsl(39, 100%, 20%);
    background-color: hsl(39, 100%, 87%);
}

a.dokmehHazfPardakht:hover
{
    background-color: hsl(39, 100%, 80%);
}

a.dokmehHazfPardakht:active
{
    transition: none;
    background-color: hsl(39, 100%, 83%);
}

a.rahnamaGoosheh, a.rahnamaGoosheh:link, a.rahnamaGoosheh:visited
{
    left: unset;
    right: 77px;
}

@media only screen and (max-width: 1000px)
{
    .amarBRN
    {
        margin-left: 20px;
    }

    .kadrBRN
    {
        width: 100%;
        margin: 5px 0;
    }

    #kadrVBRN
    {
        width: calc(100% - 30px);
    }

    .etelaatVBRN
    {
        width: 100%;
        padding: 10px 0 0;
        margin: 0 0 5px;
    }

    .etelaatBRN .etelaatVBRN
    {
        width: calc(100% - 20px);
        padding: 10px 10px 0;
        margin: 0 0 5px;
    }

    a#emalFilter, a#emalFilter:link, a#emalFilter:visited
    {
        margin-top: 10px;
    }

    a#btnAfzoodanBRN, a#btnAfzoodanBRN:link, a#btnAfzoodanBRN:visited
    {
        margin-top: 10px;
    }
}