html
{
    transition: background-color 0.3s, color 0.3s;
}

select, input
{
    transition: background-color 0.3s, color 0.3s;
}

h1#titrHDR
{
    transition: color 0.3s;
}

#kadrTitrTanzimat
{
    position: relative;
    float: right;
    width: 100%;
    margin-bottom: 10px;
}

#theme
{
    position: absolute;
    top: 0;
    left: 0;
}

#kadrHesabhaTNZ
{
    position: relative;
    float: right;
    width: 100%;
    overflow: hidden;
    min-height: 70px;
    border-radius: 8px;
}

#kadrHeaderJTNZ
{
    float: right;
    width: 100%;
    color: hsl(0, 0%, 50%);
    font-size: 0.875rem;
}

#kadrHeaderJTNZ .etelaatJTNZ
{
    padding: 0 8px;
    background-color: hsl(0, 0%, 100%);
    transition: background-color 0.3s;
}

#kadrHeaderJTNZ .shomJTNZ
{
    padding: 0 0 0 10px;
}

#jadvalTNZ
{
    float: right;
    width: 100%;
}

.itemJTNZ
{
    position: relative;
    top: 0;
    float: right;
    width: 100%;
    margin-bottom: 3px;
    transition: top 0.2s;
}

.itemJabejaeiJTNZ
{
    transition: none;
}

.shomJTNZ
{
    float: right;
    width: 27px;
    padding: 6px 0 5px 10px;
    text-align: center;
    color: hsl(0, 0%, 50%);
}

.etelaatJTNZ
{
    float: right;
    width: calc(100% - 55px);
    padding: 5px 8px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 0.3s;
}

.etelaatJTNZ>div
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bankJTNZ
{
    float: right;
    width: 16px;
    margin: 0 5px 0 15px;
    padding: 5px 0;
}

img.aksBankJTNZ
{
    float: right;
    width: 100%;
}

.onvanJTNZ
{
    float: right;
    width: calc(29% - 165px);
    margin-left: 10px;
}

.shomHesabJTNZ
{
    float: right;
    width: calc(18% - 10px);
    margin-left: 10px;
    text-align: center;
}

.shomKartJTNZ
{
    float: right;
    width: calc(22% - 10px);
    margin-left: 10px;
    text-align: center;
}

.eftetahJTNZ
{
    float: right;
    width: calc(13% - 10px);
    margin-left: 10px;
    text-align: center;
}

.mandehTarazJTNZ
{
    float: right;
    width: calc(18% - 10px);
    margin-left: 10px;
    text-align: center;
}

.emkanatJTNZ
{
    float: right;
    width: 119px;
    text-align: center;
}

a.btnJTNZ, a.btnJTNZ:link, a.btnJTNZ:visited
{
    float: left;
    padding: 5px 5px 4px 5px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.1);
    margin-right: 5px;
    font-family: myIcon;
    transition: background-color 0.1s;
}

a.btnJTNZ:hover
{
    background-color: hsla(0, 0%, 0%, 0.18);
}

a.btnJTNZ:active
{
    transition: none;
    background-color: hsla(0, 0%, 0%, 0.13);
}

a.btnJTNZ:last-child
{
    margin-right: 0;
}



/*  کادر افزودن حساب  */

#kadrAfzoodanHesab
{
    float: right;
    width: 100%;
    margin: 20px 0 10px;
    padding-top: 30px;
    border-top: 1px solid hsl(0, 0%, 80%);
    transition: border 0.3s;
}

h3.titrAfzoodanHesab
{
    float: right;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1.25rem;
}

.kadrAfzoodanTNZ
{
    float: right;
    margin: 0 0 10px 30px;
}

input#namATNZ
{
    float: right;
    width: 150px;
    direction: rtl;
}

input#shomHesabATNZ
{
    float: right;
    width: 120px;
}

input#shomKartATNZ
{
    float: right;
    width: 150px;
}

input#mandehATNZ
{
    float: right;
    width: 100px;
}

.afzoodanTNZ
{
    float: right;
    margin-left: 5px;
    padding: 5px 0;
    color: hsla(0, 0%, 0%, 0.7);
    transition: color 0.3s;
}

a#btnAfzoodanTNZ, a#btnAfzoodanTNZ:link, a#btnAfzoodanTNZ:visited
{
    float: right;
    padding: 4px 15px;
    margin: 3px 0;
    border-radius: 8px;
    background-color: hsl(148, 64%, 85%);
    color: hsl(148, 64%, 30%);
    transition: background-color 0.1s, color 0.1s;
}

a#btnAfzoodanTNZ:hover
{
    background-color: hsl(148, 64%, 75%);
    color: hsl(148, 64%, 25%);
}

a#btnAfzoodanTNZ:active
{
    transition: none;
    background-color: hsl(148, 64%, 65%);
    color: hsl(148, 64%, 25%);
}



/*  کادر تایید جا به جایی ها  */

#kadrTaeedJabejaei
{
    position: fixed;
    bottom: -81px;
    left: 20px;
    z-index: 900;
    width: 370px;
    padding: 15px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 0 5px hsl(0, 0%, 60%);
    border-radius: 8px;
    transition: bottom 0.2s, background-color 0.3s, box-shadow 0.3s;
}

#kadrTaeedJabejaei>a
{
    margin-top: 0;
    cursor: pointer;
}



/*    کادر ویرایش   */

#CountainerKadrViraieshTNZ
{
    display: table;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: hsla(0, 0%, 13%, 0.5);
    animation: aniFade 0.1s;
    animation-fill-mode: both;
    transition: background-color 0.3s;
}

#kadrNamayeshVTNZ
{
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#kadrPoshtVTNZ
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    cursor: context-menu;
}

#kadrVTNZ
{
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    animation: aniFade 0.2s;
    animation-fill-mode: forwards;
    background-color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#kadrVTNZ>div:first-child
{
    position: relative;
    width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    overflow: auto;
    padding: 15px;
}

#titrVTNZ
{
    float: right;
    padding: 0 10px 0 0;
    font-size: 1.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.etelaatVTNZ
{
    float: right;
    margin: 10px 0 0;
    padding-top: 20px;
    color: hsl(0, 0%, 40%);
    border-top: 1px solid hsl(0, 0%, 80%);
    transition: color 0.3s;
}

.etelaatSBT
{
    float: right;
    margin: 0 0 15px 30px;
}

.etelaatSBT>input
{
    width: 150px;
}

input#namVTNZ
{
    direction: rtl;
}

#kadrDokmehVTNZ
{
    float: right;
    width: 100%;
}

#kadrDokmehVTNZ span.icon
{
    font-size: 1.5rem;
}

#kadrVTNZ a.dokmehTaeed
{
    margin: 0 0 0 5px;
}

#kadrVTNZ a.dokmehLaghv
{
    margin: 0 5px 0 0;
}

@media only screen and (max-width: 1000px)
{
    .shomJTNZ
    {
        width: 20px;
        font-size: 0.875rem;
        padding: 6px 0 5px 5px;
    }

    #kadrHeaderJTNZ .shomJTNZ
    {
        padding: 0 0 0 5px;
        opacity: 0;
    }

    .etelaatJTNZ
    {
        width: calc(100% - 41px);
    }

    .iconJTNZ
    {
        display: none;
    }

    .bankJTNZ
    {
        margin: 0 0 0 5px;
    }

    .onvanJTNZ
    {
        width: calc(100% - 145px);
        margin: 0;
    }

    #kadrAfzoodanHesab
    {
        padding-top: 15px;
    }

    #kadrVTNZ
    {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        width: calc(100% - 20px);
    }

    .etelaatVTNZ
    {
        padding-top: 10px;
    }

    .etelaatSBT
    {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .etelaatVTNZ span.matnTitr
    {
        display: none;
    }

    .etelaatVTNZ input
    {
        width: calc(100% - 50px);
    }

    .etelaatVTNZ select
    {
        width: calc(100% - 28px);
    }

    #kadrTaeedJabejaei
    {
        left: 10px;
        width: calc(100% - 30px);
        padding: 5px;
    }

    #kadrTaeedJabejaei>a
    {
        font-size: 0.875rem;
        width: calc(50% - 18px);
        padding: 10px 8px;
    }

    #kadrTaeedJabejaei>a.dokmehTaeed
    {
        margin-left: 2px;
    }

    #kadrTaeedJabejaei>a.dokmehLaghv
    {
        margin-right: 2px;
    }

    .kadrAfzoodanTNZ
    {
        margin: 0 0 10px 15px;
    }
}